local.properties
*.metadata/
*.project
*.settings
android/bin/
android/gen/
*~
.checkstyle
.DS_Store
/build/
core/bin/
.settings/gradle/org.springsource.ide.eclipse.gradle.core.import.prefs
*.bin
*.lock
